 body {
  background-image: url("../../assets/film.png")  ;
  background-color: yellow ;
  background-repeat: no-repeat;
  background-size: 800px auto;
}

.shadow{
  box-shadow: 4px 4px #888888;
  border: 1px solid black;
}
