


<body>


<div class="large" style="margin-top:70px;margin-right:40px;text-align: right; "> MOVIE REVIEW</div>

<div style="margin-top:80px;margin-right:40px">

  <div class="small" style="right: 150px; text-align: right;">
    Movie Review is the world's most trusted recommendation resource for<br>
    quality entertainment. As the leading  online agrregator of movies and TV<br>
    show reviews from critics, we provide fans with a comprehensive guide to<br>
    what's Fresh - and what's Rotten - in theaters and at home . If you're an<br>
    entertainment fan looking for a recommendation. or to share an opion.<br>
    you'v come to the right place<br>



  </div>

</div>
<!-- <div style="margin-top:250px;">
<div class="small" style="position: absolute;right: 150px; ">
  Movie Review is the world's most trusted recommendation resource for </div>
  <div class="small" style="position: absolute;right: 150px; ">
  quality entertainment. As the leading  online agrregator of movies and TV</div> -->




<div class="container-fluid " style="margin:20px;background-color: white;padding: 10px;
box-shadow: 4px 4px #888888;border: 1px solid black; width:400px; position: absolute;bottom: 8px;right: 16px;" >

   <form >

     <div class="form-group mt-3 mb-3">
      <label style="font:bold;">User Name</label>
      <input  type="email" class="form-control">
    </div>

    <div class="form-group mb-3">
      <label style="font:bold" >Password</label>
      <input type="password"   class="form-control">
    </div>

    <button class="btn btn-dark mb-3" (click)="login()">Login</button>
   </form>


</div>

