
<div class="row" style="margin-left:40px;">
  <div class="col-11" >
    <H4 style="font-weight: bold;">TRENDING MOVIES</H4>
  </div>
  <div class="col-1" style="right:0px">
    <H4 style="font-weight: bold;">View All</H4>
  </div>
</div>


<div *ngFor="let movies of TrendingDisplay" class="row" style="margin-left:40px">

  <div *ngFor="let movie of movies" class="col-2" >
    <button   (click)="selectId(movie.id)" >
      <img [src]="movie.cover"  width="180" ><br>
      <div style="font-weight: bold;margin-top:5px;">{{movie.name}}</div>
    </button>


    <div  class="row" style="margin-top:5px;margin-bottom:20px" >
      <div  class="col-8" >

        <!-- <i *ngFor="let color of movie.stars.color;let i = index" class="fa fa-heart" style="width:30px;font-size:25px;color:{{color}}">

        </i> -->

        <i *ngFor="let color of movie.stars.color;let i = index" style="width:5px" >

            <span *ngIf="(movie.rating-i) > 0 && (movie.rating-i) < 1; else fullColor"  class='bi bi-heart-half' style="width:30px;font-size:25px;color:red"></span>

            <ng-template #fullColor>
                <span *ngIf="i < movie.rating ; else endColor " class="bi bi-heart-fill" style="width:30px;font-size:25px;color:red"></span>

                <ng-template #endColor>
                  <span class="bi bi-heart" style="width:30px;font-size:25px;color:red"></span>
               </ng-template>
            </ng-template>

          </i>

      </div>
      <div  class="col-1" style="font-weight: bold;margin-top:5px;">{{movie.rating}}</div>
      <div  class="col-2"></div>
    </div>
  </div>



</div>
