

<div class="row" style="margin-left:40px;">
  <div class="col-11" >
    <H4 style="font-weight: bold;">POPULAR IN THEATER</H4>
  </div>
  <div class="col-1" style="right:0px">
    <H4 style="font-weight: bold;">View All</H4>
  </div>
</div>


<div *ngFor="let movies of TheaterListDisplay" class="row" style="margin-left:40px">

  <div *ngFor="let movie of movies" class="col-2" >
    <button  (click)="selectId(movie.id)" >
      <img [src]="movie.cover"  width="250" ><br>
      <div style="font-weight: bold;margin-top:5px;">{{movie.name}}</div>
    </button  >


    <div  class="row" style="margin-top:5px;margin-bottom:20px" >
      <div  class="col-8" >
        <i *ngFor="let color of movie.stars.color" class="fa fa-heart" style="width:40px;font-size:35px;color:{{color}}">

        </i>
      </div>
      <div  class="col-2">{{movie.rating}}</div>
      <div  class="col-1"></div>
    </div>
  </div>



</div>
